@import url('../__card/__cardtitle/results__cardtitle.css');
@import url('../__card/__date/results__date.css');
@import url('../__card/__image/results__image.css');
@import url('../__card/__paragraph/results__paragraph.css');
@import url('../__card/__source/results__source.css');

.results__card{
    display: flex;
    flex-direction: column;
    width:  400px;
    height: 576px;
    background-color: #FFFFFF;
    border-radius: 16px;
}


@media screen and (max-width: 1440px){
    .results__card{
        width: calc(100vw/3.6);
    }

}

@media screen and (max-width: 768px){
    .results__card{
        height: 430px;
    }
}

@media screen and (max-width: 610px){
    .results__card{
        width: calc(100vw/2.4);
    }
}

@media screen and (max-width: 440px){
    .results__card{
        width: 288px;
        min-height: 446px;
    }
}
