.tech__container{
    margin: 93px 80px 102px auto;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 52px;
    grid-row-gap: 6px;
}

@media screen and (max-width: 1120px){
    .tech__container{
        margin: 33px 80px 102px auto;
    }
}

@media screen and (max-width: 860px){
    .tech__container{
        margin: 40px 50px 54px 56px;
        grid-column-gap: calc((100% - 120px*4 )/3);
        grid-row-gap: 6px;
    }
}

@media screen and (max-width: 610px){
    .tech__container{
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 56px;
    }
}

@media screen and (max-width: 440px){
    .tech__container{
        margin: 40px 40px 52px 40px;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 46px;
        grid-row-gap: 6px;
    }
}