.segment__title{
    margin: 80px 0 64px 104px;
}

@media screen and (max-width: 768px){
    .segment__title{
        margin: 40px 0 32px 40px;
    }
}

@media screen and (max-width: 440px){
    .segment__title{
        margin: 32px 16px 16px 16px;
    }
}