.footer__copyright{
    color: #B6BCBF;
    margin-left: 104px;
}

@media screen and (max-width: 768px){
    .footer__copyright{
        margin-left: 40px;
    }
}

@media screen and (max-width: 440px){
    .footer__copyright{
        margin-left: 16px;
    }
}