@import url('../__link-social/footer__link-social.css');

.footer__links-social{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 104px;
}

@media screen and (max-width: 768px){
    .footer__links-social{
        margin-right: 40px;
    }
}

@media screen and (max-width: 440px){
    .footer__links-social{
        margin-right: 16px;
    }
}