.author__photo{
    border-radius: 50%;
    width: 464px;
    height: 100%;
    margin-right: 64px;
}

@media screen and (max-width: 1280px){
    .author__photo{
        width: 30%;
    }
}

@media screen and (max-width: 768px){
    .author__photo{
        width: 232px;
        margin-right: 32px;
    }
}

@media screen and (max-width: 440px){
    .author__photo{
        width: 90%;
        margin: 0;
    }
}
