.analytics__wrapper{
    background: #F5F6F7;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}

@media screen and (max-width: 768px){
    .analytics__wrapper{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 440px){
    .analytics__wrapper{
        padding-top: 24px;
        padding-bottom: 24px;
    }
}