.search__button{
    border: none;
    background-color: #2F71E5;
    border-radius: 100px;
    color: #ffffff;
    width: 168px;
    height: 64px;
}

.search__button:hover{
    background-color: #347EFF;
    transition: 0.1s ease-in-out;
}

.search__button:active{
    background-color: #2A65CC;
}
