.tech__title{
    margin: 80px auto 162px 104px;
    width: 24%;
}

@media screen and (max-width: 768px){
    .tech__title{
        margin: 40px auto 40px 40px;
    }
}

@media screen and (max-width: 440px){
    .tech__title{
        margin: 32px 16px 87px 16px;
    width: 100%;

    }
}